.nav__logo{
    width: 145px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.16; 
    }
    @media screen and (min-width: 320px) {
        margin-left: 15px;   
    }
}

.nav__web{
.nav__studio{
    color: #000000;
    }
    color: #2196F3;
}
